@using Netas.Nipps.SystemManager.Presentation.Models;
@using Netas.Nipps.BaseDao.Model.Response;

@model Nipps

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.UpgradeTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("NippsServiceList", "DeployManagement", FormMethod.Get, new { @id = "upgradeForm" }))
{
    <fieldset>
        <ol>
            <li>
                <button class="cancel" onclick="$('#upgradeForm').submit();">@Resources.Global.Cancel</button>
            </li>
        </ol>
    </fieldset>

}


<table id="upgradeListTable" class="display compact">

    <thead>
    <th></th>
    <th>@Resources.Global.Upgrade</th>
    </thead>

    <tbody>
        
    </tbody>

</table>

<script type="text/javascript">
    console.log('OK');
    var tableData = new Array();
    var upgradeConfirmUrl = '@Url.Action("NippsUpgradeConfirm")';

    @if (ViewBag.Result == Result.OK)
    {
        foreach (String item in ViewBag.ResultList)
        {
    <text>
    tableData.push('@item');
    </text>
        }
    }

    $("#upgradeListTable").DataTable({
        data: tableData
        , order: [[1, 'asc']]
        , language: DataTableLanguage
        , columnDefs: [
            {
                targets: 0
                , width: 24
                , orderable: false
                , searchable: false
                , data: function (row) {
                    return '<a href="'+upgradeConfirmUrl+'?UpgradeItem='+row+'"><img title="@Resources.Global.Upgrade" src="../Images/upgrade.png" class="gridRowInlineLink" /></a>';
                }
            }
            , {
                targets: 1
                , data: function (row) {
                    return row;
                }
            }
        ]
    });
</script>

