@using Netas.Nipps.BaseDao.Model.Response;

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.RestoreTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("NippsServiceList", "DeployManagement", FormMethod.Post, new { @id = "restoreForm" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <ol>
            <li>
                <button class="cancel" onclick="$('#restoreForm').submit();">@Resources.Global.Cancel</button>
            </li>
        </ol>
    </fieldset>
}

<table id="restoreListTable" class="display compact">

    <thead>
        <th></th>
        <th>@Resources.Global.Backup</th>
    </thead>

    <tbody>
        
    </tbody>

</table>
 
<script type="text/javascript">
    console.log('OK');
    var tableData = new Array();
    var configRestoreConfirmUrl = '@Url.Action("NippsConfigRestoreConfirm")';

    @if (ViewBag.Result == Result.OK)
    {
        foreach (String item in ViewBag.ResultMessages)
        {
            string[] itemParts = item.Split('\\');
            string label = itemParts[itemParts.Length-1];
    <text>
    tableData.push({ "Item": "@item.Replace("\\","\\\\")", "Label": "@label" });
    </text>    
        }
    }

    $("#restoreListTable").DataTable({
        data: tableData
        , order: [[1, 'asc']]
        , language: DataTableLanguage
        , columnDefs: [
            {
                targets: 0
                , width: 24
                , orderable: false
                , searchable: false
                , data : function(row) {
                    return '<a href="'+configRestoreConfirmUrl+'?Request='+row.Item+'"><img title="@Resources.Global.Restore" src="../Images/backup-restore.png" class="gridRowInlineLink" /></a>';
                }
            }
            , {
                targets: 1
                , data : function(row) {
                    return row.Label;
                }
            }
        ]
    });
</script>
  


        
