@model Netas.Nipps.SystemManager.Presentation.Models.Nipps

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.RestoreTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("NippsConfigRestore", "BackupManagement", FormMethod.Post, new { @id="restoreForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <label>Sistem ayarlarınız @ViewBag.RestoreItem'dan geri yüklenecektir...</label>
    <input type="hidden" name="Request" value="@ViewBag.RestoreItem" />

    <button class="cancel" onclick="$('#restoreForm').Nipps_SubmitTo('@Url.Action("NippsServiceList", "DeployManagement")', 'Get'); ">@Resources.Global.Cancel</button>
    <input type="submit" value="@Resources.Global.Restore" />

}

