@using Netas.Nipps.LogManager.Data.Model;
@using System.Web.Mvc;

@model NippsModule

@{
    var urlStatusList = Url.Action("Statuslist");
}
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.LogParametersChangeTitle</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("LogParameterSave", "StatusManagement", FormMethod.Post, new { id = "logForm" }))
    {
        @CommonComponentHelper.FormValidate("logForm")

        @Html.AntiForgeryToken()
        
        @CommonComponentHelper.ValidationErrorSummary(ViewData.ModelState)
        
        <label>@Model.ModuleName</label>
        <fieldset>
            <ol>
                <input type="hidden" name="ModuleId" value="@Model.ModuleId"/>
                <input type="hidden" name="ModuleName" value="@Model.ModuleName" />
                <input type="hidden" name="LogReportLevelId" value="@Model.LogReportLevelId" />
                <input type="hidden" name="ParentId" value="@Model.ParentId" />
                <input type="hidden" name="ModuleStatus" value="@Model.ModuleStatus" />
                <input type="hidden" name="ModuleLogInfo" value="@Model.ModuleLogInfo" />
                
                <li>
                    @Html.Label(Resources.Global.LogLevel)
                    <select id="LogLevelId" name="LogLevelId">
                        <script type="text/javascript">
                            var logLevels = new Array("Off", "Trace", "Debug", "Info", "Warn", "Error", "Fatal");
                            var options = "";
                            for (var i = 0; i < logLevels.length; i++) {
                                options += '<option value="' + i + '" ';
                                options += i == '@((int)Model.LogLevelId)' ? " selected>" : ">";
                                options += logLevels[i] + '</option>';
                            }
                            $("#LogLevelId").html(options);
                        </script>
                    </select>
                    
                </li>
                <li>
                    @Html.Label(Resources.Global.LogArchiveEvery)
                    @Html.DropDownList("ArchiveEvery",
                            (IEnumerable<SelectListItem>)new List<SelectListItem> {
                                new SelectListItem{ Text = "Day",    Value = "3", Selected = (3 == (int)Model.ArchiveEvery) },
                                new SelectListItem{ Text = "Hour",   Value = "4", Selected = (4 == (int)Model.ArchiveEvery) },
                                new SelectListItem{ Text = "Minute", Value = "5", Selected = (5 == (int)Model.ArchiveEvery) }
                            })
                </li>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewData.ModelState, "ArchiveAboveSize", Resources.Global.LogArchiveAboveSize + " (MB)", Model.ArchiveAboveSize.ToString(), 1, 4, true, "number")
                </li>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewData.ModelState, "MaxArchiveFiles", Resources.Global.LogMaxArchiveFile, Model.MaxArchiveFiles.ToString(), 1, 2, true, "number")
                </li>
                <li>
                    <input type="submit" value="@Resources.Global.Cancel" class="cancel" onclick="$('#logForm').Nipps_SubmitTo('@urlStatusList', 'get');" />
                    <input type="submit" value="@Resources.Global.Save" />
                </li>
            </ol>

        </fieldset>
    }
