@using System.Web.Mvc;

@using Netas.Nipps.BaseDao.Model.Response;
@using Netas.Nipps.LogManager.Data.Model;

@model NippsModule

@{
    string urlSMLogDownload = Url.Action("SMLogDownloadConfirm");
    string urlLogDownload = Url.Action("LogDownLoad");
    string urlLogDetail = Url.Action("LogDetail");
    string urlLogLevelChange = Url.Action("LogLevelChange");
    string urlLogParameterChange = Url.Action("LogParameterChange");
    
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.MenuSystemStatus</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("LogDownloadConfirm", "StatusManagement", FormMethod.Get, new { id = "logForm" }))
{
    
    <input type="submit" value="@Resources.Global.LogDownloadAll" />
    <input type="submit" value="@Resources.Global.LogSMDownloadAll" onclick="$('#logForm').Nipps_SubmitTo('@urlSMLogDownload');" />
}

    <table id="secondtable" class="display compact">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>@Resources.Global.Service</th>
                <th>@Resources.Global.LogInfo</th>
                <th>@Resources.Global.LogLevel</th>
            </tr>
        </thead>

        <tbody>

        </tbody>

    </table>

    <div id="dialogStatus" hidden="hidden"></div>

@section Scripts {

    <script type="text/javascript">


    var data = new Array();
    var logLevels = new Array("Off", "Trace", "Debug", "Info", "Warn", "Error", "Fatal");
    var imgStatus = new Array('../Images/bullet_green.png','../Images/bullet_red.png','../Images/bullet_yellow.png');
    var imgTitle = new Array('@Resources.Global.Running', '@Resources.Global.Failure', '@Resources.Global.Unknown');
    

    @if ((Result)ViewBag.Result != Result.FAIL)
    {
        foreach(NippsModule nippsModule in ViewBag.ResultList)
        {
        <text>
    data.push({
        "ModuleStatus": "@((int)nippsModule.ModuleStatus)",
        "ModuleName": "@nippsModule.ModuleName",
        "ModuleId": "@nippsModule.ModuleId",
        "ModuleLogInfo": "@nippsModule.ModuleLogInfo",
        "LogLevelId": "@((int)nippsModule.LogLevelId)",
        "LogReportLevelId": "@((int)nippsModule.LogReportLevelId)",
        "MaxArchiveFiles": "@nippsModule.MaxArchiveFiles",
        "ArchiveAboveSize": "@nippsModule.ArchiveAboveSize",
        "ArchiveEvery": "@((int)nippsModule.ArchiveEvery)",
        "ParentId": "@nippsModule.ParentId"
    });
        </text>
        }
    }

    $("#secondtable").DataTable({
        data: data
        , language: DataTableLanguage
        , order: [[3, 'asc']]
        , columnDefs: [
            {
                targets: 0,
                width: 24,
                orderable: false,
                data: function (row) {
                    return '<img src="' + imgStatus[row.ModuleStatus] + '" title="' + imgTitle[row.ModuleStatus] + '" class="gridRowInlineLink"/>';
                }
            }
            , {
                targets: 1,
                width: 24,
                orderable: false,
                data: function (row) {
                    return '<a href="@urlLogParameterChange?ModuleId=' + row.ModuleId + '&ModuleName=' + row.ModuleName.replace(/ /g, '&#32;') + '"><img src="../Images/pen.png" title="@Resources.Global.LogParametersChange" class="gridRowInlineLink" /></a>';
                }
            }, {
                targets: 2,
                width: 24,
                orderable: false,
                data: function (row) {
                    return '<a href="#" onclick="$(\'#dialogStatus\').Nipps_OpenModalDialog(\'LOG\', \'@urlLogDownload?ModuleName=' + row.ModuleName + '\', 900, 550)"><img src="../Images/infoIcon.png" title="@Resources.Global.LogDownload" class="gridRowInlineLink" /></a>';
                }
            }
            , {
                targets: 3,
                data: "ModuleName"
            }
            , {
                targets: 4,
                data: function (row) {
                    if (row.ModuleLogInfo === undefined || String(row.ModuleLogInfo).length == 0)
                        return "";
                    var lblColor = String(row.ModuleLogInfo).indexOf("Fatal:") > -1 ? "#ff0000" : "";
                    var retVal = '<button style="background-color:' + lblColor + '; width:260px" onclick="$(\'#logForm\').Nipps_SubmitTo(\'@urlLogDetail?ModuleId=' + row.ModuleId + '&ModuleName=' + row.ModuleName + '\', \'Post\')">' + row.ModuleLogInfo + '</button>';
                    return retVal;
                }
            }
            , {
                targets: 5,
                width: 150,
                orderable: false,
                searchable: false,
                data: function (row) {
                    return logLevels[row.LogLevelId];
                }
            }
        ]
    });

</script>

}
