@using Org.Apps.SystemManager.Presentation.Models;

@model Apps

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.BackupTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("AppsBackup", "BackupManagement", FormMethod.Post, new { @id="backupForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @CommonComponentHelper.AppsHostSitePoolApplication(
        @Url.Action("", "BackupManagement"), 
        Org.Apps.SystemManager.Presentation.Base.MaintenanceOperation.Backup, 
        Model)

    <button class="cancel" onclick="$('#backupForm').Apps_SubmitTo('@Url.Action("AppsServiceList", "DeployManagement")', 'Get'); ">@Resources.Global.Cancel</button>
    <input type="submit" value="@Resources.Global.Backup" />

}

