@model Org.Apps.SystemManager.Presentation.Models.Apps

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.BackupTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("AppsConfigBackup", "BackupManagement", FormMethod.Post, new { @id="backupForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <label>Sistem ayarlarınızın yedeklenmesi yapılacaktır...</label>
    
    <button class="cancel" onclick="$('#backupForm').Apps_SubmitTo('@Url.Action("AppsServiceList", "DeployManagement")', 'Get'); ">@Resources.Global.Cancel</button>
    <input type="submit" value="@Resources.Global.Backup" />

}

