@model Org.Apps.SystemManager.Presentation.Models.Apps

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.RestoreTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("AppsRestore", "BackupManagement", FormMethod.Post, new { @id="restoreForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @CommonComponentHelper.AppsHostSitePoolApplication(
        @Url.Action("", "BackupManagement"), 
        Org.Apps.SystemManager.Presentation.Base.MaintenanceOperation.Restore, 
        Model)

    <fieldset>
        <ol>
            <li>
                @Html.Label(Resources.Global.Restore)
                @Html.TextBox("Restore", (string)ViewBag.RestoreItem, new { @style="width:600px;", @readonly="true" })
            </li>
            <li>
                <button class="cancel" onclick="$('#restoreForm').Apps_SubmitTo('@Url.Action("AppsServiceList", "DeployManagement")', 'Get'); ">@Resources.Global.Cancel</button>
                <input type="submit" value="@Resources.Global.Restore" />
            </li>
        </ol>
    </fieldset>
    

}
