@using Netas.Nipps.LicenseManager.Data.Model;
@using Netas.Nipps.SystemManager.Presentation.Base;

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.LicenseAddTitle</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("LicenseAdd", "LicenseManagement", FormMethod.Post, new { @id = "licenseForm", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <ol>
            <li>
                <label>@Resources.Global.LicenseFileSelect</label>
                <input type="file" id="license" name="license" value="" accept=".license" style="width:600px;">
            </li>
            <li>
                <button name="Cancel" onclick="$('#licenseForm').Nipps_SubmitTo('@Url.Action("License", "LicenseManagement")', 'GET');">@Resources.Global.Cancel</button>
                <input type="submit" value="@Resources.Global.LicenseAdd" />
            </li>
        </ol>
    </fieldset>


}

