@using (Html.BeginForm("SetLanguage", "Home", FormMethod.Post, new { @id = "languageForm" }))
{
    
    if (Session["IsUserAuthenticated"] != null && (bool)Session["IsUserAuthenticated"] == true)
    {
        <text>
            <b>@Session["UserNameSurname"]</b>
            @Html.ActionLink(@Resources.Global.PasswordChange, "UserPasswordChangeConfirm", "UserManagement")
            @Html.ActionLink(@Resources.Global.Logoff, "UserLogoff", "UserManagement")
        </text>
    } 
    else 
    {
        <text>
            @Html.ActionLink(@Resources.Global.Logon, "UserLoginConfirm", "UserManagement")
        </text>
    }

    <select id="lang" name="lang" style="width:100px" onchange="document.getElementById('languageForm').submit();">
        <option value="tr" @(UICulture == "tr" ? "selected" : "")>Türkçe</option>
        <option value="en" @(UICulture == "en" ? "selected" : "")>English</option>
    </select>
    <input type="hidden" name="returnUrl" value="@Request.Url.PathAndQuery"/>
}

<script type="text/javascript">

    $.validator.messages = {
        required: "@Resources.Global.ValRequired",
        remote: "@Resources.Global.ValRemote",
        email: "@Resources.Global.ValEmail",
        url: "@Resources.Global.ValUrl",
        date: "@Resources.Global.ValDate",
        dateISO: "@Resources.Global.ValDateISO",
        number: "@Resources.Global.ValNumber",
        digits: "@Resources.Global.ValDigits",
        creditcard: "@Resources.Global.ValCreditcard",
        equalTo: "@Resources.Global.ValEqualTo",
        accept: "@Resources.Global.ValAccept",
        maxlength: $.validator.format("@Resources.Global.ValMaxLength"),
        minlength: $.validator.format("@Resources.Global.ValMinLength"),
        rangelength: $.validator.format("@Resources.Global.ValRangeLength"),
        range: $.validator.format("@Resources.Global.ValRange"),
        max: $.validator.format("@Resources.Global.ValMax"),
        min: $.validator.format("@Resources.Global.ValMin")
    };

</script>
