@using System.Web.Mvc;
@using Org.Apps.LicenseManager.Data.Model;

@model AppsLicense
 
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.MenuSystemLicense</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("LicenseAddConfirm", "LicenseManagement", FormMethod.Get, new { @id = "licenseForm" }))
{
    <input type="submit" value="@Resources.Global.LicenseAdd" />
}

<div class="float-left">
    <fieldset>
        <ol>
            <li>
                @Html.Label(Resources.Global.Type)
                @Html.TextBoxFor(m => m.Type, new { @readonly = "" })
            </li>
            @if (!string.IsNullOrEmpty(Model.ValidFor))
            {
                <li>
                    @Html.Label(Resources.Global.Valid)
                    @Html.TextBoxFor(m => m.ValidFor, new { @readonly = "" })
                </li>
            }
            <li>
                @Html.Label(Resources.Global.Version)
                @Html.TextBoxFor(m => m.Version, new { @readonly = "" })
            </li>
            <li>
                @Html.Label(Resources.Global.LicensedTo)
                @Html.TextBoxFor(m => m.LicensedTo, new { @readonly = "" })
            </li>
            <li>
                @Html.Label(Resources.Global.IssuedBy)
                @Html.TextBoxFor(m => m.IssuedBy, new { @readonly = "" })
            </li>

        </ol>
    </fieldset>
</div>

<div class="float-right" style="width:70%;">
    @Html.Label(Resources.Global.Service)

    <table id="licenseTable" class="display compact">

        <thead>
            <tr>
                <th>@Resources.Global.Name</th>
                <th>@Resources.Global.Version</th>
            </tr>
        </thead>

        <tbody>
            @if (Model.Services != null)
            {
                foreach (PhoneService ps in Model.Services)
                {
                    <text>
                        <tr><td>@ps.Name</td><td>@ps.Version</td></tr>
                    </text>
                }
            }
        </tbody>

    </table>

</div>


<script type="text/javascript">

    $("#licenseTable").DataTable({ language: DataTableLanguage });

</script>
