@using Org.Apps.BaseService;
@using System.Web.Mvc;

@model AppsLogFileRequest

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@(ViewBag.IsSystemManager? Resources.Global.LogSMDownloadAll : Resources.Global.LogDownloadAllTitle)</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("LogDownloadAll", "StatusManagement", FormMethod.Post, new { id = "logForm" }))
    {

        @CommonComponentHelper.FormValidate("logForm")
        
        @Html.AntiForgeryToken()
    
        @CommonComponentHelper.ValidationErrorSummary(ViewBag.ModelState)
    
        
        <fieldset>
            <ol>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewBag.ModelState, "LogStartDate", Resources.Global.StartDate, "", 0, 16, true, "date")
                </li>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewBag.ModelState, "LogFinishDate", Resources.Global.FinishDate, "", 0, 16, true, "date")
                </li>
                <li>
                    <button name="Cancel" class="cancel" onclick="$('#logForm').attr('action', '@Url.Action("StatusList")'); $('#logForm').submit(); ">@Resources.Global.Cancel</button>
                    <input type="submit" value="@Resources.Global.Ok" />
                    <input type="hidden" value="@(ViewBag.IsSystemManager ? "true" : "false")" name="IsSystemManager" />
                </li>
            </ol>

      </fieldset>
  
    }

    @section Scripts {
        <script type="text/javascript">

                $("#LogStartDate").datepicker({ dateFormat: "yy-mm-dd" });
                $("#LogStartDate").datepicker("setDate", "Now");

                $("#LogFinishDate").datepicker({ dateFormat: "yy-mm-dd" });
                $("#LogFinishDate").datepicker("setDate", "Now");


        </script>
    }