@using Org.Apps.SystemManager.Presentation.Models;
@using System.Web.Mvc;

@{
    var urlHome = Url.Action("Index", "Home");
}
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.PasswordChange</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("UserPasswordChange", "UserManagement", FormMethod.Post, new { @id = "userForm" }))
    {
        @CommonComponentHelper.FormValidate("userForm")
        @Html.AntiForgeryToken()
        @CommonComponentHelper.ValidationErrorSummary(ViewData.ModelState)

        <fieldset>
            <ol>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewData.ModelState, "OldPassword", Resources.Global.Password, "", 6, 32, true, "password")
                </li>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewData.ModelState, "NewPassword", Resources.Global.PasswordNew, "", 6, 32, true, "password")
                </li>
                <li>
                    @CommonComponentHelper.GenericInputBox(ViewData.ModelState, "ConfirmPassword", Resources.Global.PasswordConfirm, "", 6, 32, true, "password", "NewPassword")
                </li>
                <li>
                    <input type="submit" value="@Resources.Global.Cancel" class="cancel" onclick="$('#userForm').Apps_SubmitTo('@urlHome', 'get');" />
                    <input type="submit" value="@Resources.Global.Save" />
                </li>
            </ol>
            
        </fieldset>

    }
