@using Org.Apps.AuthManager.Data.Model;
@using System.Web.Mvc;

@model User

@{
    ViewBag.IsIppsAdmin = ((Org.Apps.AuthManager.Data.Model.User)Session["User"]).UserName.Equals("ippsadmin");

    var urlPasswordRenew = Url.Action("UserPasswordRenew");
    var urlUserList = Url.Action("UserList");
            
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.UserEditTitle</h1>
            </hgroup>
        </div>
    </section>
}

    @using (Html.BeginForm("UserEdit", "UserManagement", FormMethod.Post, new { @id = "userForm" }))
    {
        @CommonComponentHelper.FormValidate("userForm")

        @Html.AntiForgeryToken()
        @CommonComponentHelper.ValidationErrorSummary(ViewData.ModelState)

        @Html.HiddenFor(m => m.UserId)
    
        <fieldset>
            <ol>
                @if (ViewBag.IsIppsAdmin)
                {
                    <li>
                        @CommonComponentHelper.UsernameBox(Model.UserName, ViewData.ModelState)
                    </li>
                    <li>
                        @CommonComponentHelper.EmailBox(Model.Email, ViewData.ModelState)
                    </li>
                }
                else
                {
                    @Html.HiddenFor(m => m.Email)
                    @Html.HiddenFor(m => m.UserName)
                }
                <li>
                    @CommonComponentHelper.FirstnameBox(Model.FirstName, ViewData.ModelState)
                </li>
                <li>
                    @CommonComponentHelper.LastnameBox(Model.LastName, ViewData.ModelState)
                </li>
                <li>
                    <input type="submit" value="@Resources.Global.Cancel" class="cancel" onclick="$('#userForm').Apps_SubmitTo('@urlUserList', 'get');" />
                    <input type="submit" value="@Resources.Global.Save" />
                    @if (ViewBag.IsIppsAdmin)
                    {
                        <input type="submit" value="@Resources.Global.PasswordRenew" onclick="$('#userForm').Apps_SubmitTo('@urlPasswordRenew', 'post');" />
                    }
                </li>
            </ol>

        </fieldset>
    }
