@using Org.Apps.AuthManager.Data.Model;
@using System.Web.Mvc;

@{
    var urlLogin = Url.Action("UserLoginConfirm");
}
    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.PasswordRenew</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("UserPasswordRenew", "UserManagement", FormMethod.Post, new { @id = "userForm" }))
    {
        @CommonComponentHelper.FormValidate("userForm")
        @Html.AntiForgeryToken()
        @CommonComponentHelper.ValidationErrorSummary(ViewData.ModelState)

        <fieldset>
            <ol>
                <li>
                    @CommonComponentHelper.UsernameBox("", ViewData.ModelState)
                </li>
                <li>
                    @CommonComponentHelper.EmailBox("", ViewData.ModelState)
                </li>
                <li>
                    <input type="submit" value="@Resources.Global.Cancel" class="cancel" onclick="$('#userForm').Apps_SubmitTo('@urlLogin', 'get');" />
                    <input type="submit" value="@Resources.Global.PasswordRenew" />
                </li>
            </ol>
        </fieldset>
    }
