
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>@Resources.Global.NippsTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    @Styles.Render("~/Content/css")  
    @Styles.Render("~/Content/themes/base/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryinputmask")
    @Scripts.Render("~/bundles/jquerydatatables")
    @Scripts.Render("~/bundles/modernizr")
    
    @*@Scripts.Render("~/bundles/intercooler")*@

    @Scripts.Render("~/bundles/nipps")

</head>
<body>

    <script type="text/javascript">
    var DataTableLanguage = new Object({
        paginate: {
            first: "@Resources.Global.First"
                , last: "@Resources.Global.Last"
                , next: "@Resources.Global.Next"
                , previous: "@Resources.Global.Previous"
        }
        , lengthMenu: "@Resources.Global.LengthMenu"
        , search: "@Resources.Global.Search"
        , emptyTable: "@Resources.Global.EmptyTable"
        , info: "_START_ - _END_ (_TOTAL_)"
        , infoEmpty: ""
        , infoFiltered: "@Resources.Global.InfoFiltered"
        });
    </script>

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title"><img src="~/Images/netas-logo.png" /></p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <div>
                        <ul class="menu">
                            <li id="indexHome">@Html.ActionLink(@Resources.Global.MenuMainPage, "Index", "Home")</li>

                            @if ((bool)Session["IsUserAuthenticated"] == true)
                            {
                              
                                <li id="userListUser">@Html.ActionLink(@Resources.Global.MenuUserManagement, "UserList", "UserManagement")</li>

                                <li id="nippsHome">
                                    <a href="#">@Resources.Global.MenuNippsManagement</a>
                                    <ul style="z-index: 999999;">
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuSystemParameters, "NippsParameterList", "ConfigManagement")</li>
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuSystemStatus, "StatusList", "StatusManagement")</li>
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuOperationalMetrics, "OpMetricList", "OperationalMetrics")</li>
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuSystemMaintenance, "NippsServiceList", "DeployManagement")</li>
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuSystemVersions, "ProductList", "Diagnostic")</li>
                                        <li style="width:200px;">@Html.ActionLink(@Resources.Global.MenuSystemLicense, "License", "LicenseManagement")</li>
                                    </ul>
                                </li>


                            }

                            <li id="aboutHome">@Html.ActionLink(@Resources.Global.MenuAbout, "About", "Home")</li>
                            <li id="contactHome">@Html.ActionLink(@Resources.Global.MenuContact, "Contact", "Home")</li>
                        </ul>
                    </div>
                </nav>
                <section id="subMenu">
                    @RenderSection("SubMenu", required: false)
                </section>
            </div>
        </header>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - @Resources.Global.NippsTitle</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>
