@using Org.Apps.BaseDao.Model.Response;
@using Org.Apps.ConfigManager.Data.Model;

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.ParameterTitle</h1>
                </hgroup>
            </div>
        </section>
    }

    <table id="parameterListTable" class="display compact">
        <thead>
            <tr>
                <th></th>
                <th>@Resources.Global.CategoryName</th>
                <th>@Resources.Global.Name</th>
                <th>@Resources.Global.Value</th>
            </tr>
        </thead>

        <tbody>
            
        </tbody>

    </table>

    <script type="text/javascript">

        console.log('OK');
        var tableData = new Array();
        var editUrl = '@Url.Action("AppsParameterEditConfirm")';

        @if (ViewBag.Result == Result.OK)
        {
            foreach (AppsParameter parameter in ViewBag.ResultList)
            {
        <text>
        tableData.push({"CategoryName": "@parameter.CategoryName", "ParameterName": "@parameter.ParameterName", "ParameterValue": "@(parameter.ParameterValue != null ? parameter.ParameterValue.Replace("\\", "\\\\") : parameter.ParameterValue)"});
        </text>
            }
        }

    $("#parameterListTable").DataTable({
        data: tableData
        , order: [[1, 'asc']]
        , language: DataTableLanguage
        , columnDefs: [
            {
                targets: 0
                , width: 24
                , orderable: false
                , searchable: false
                , data: function(row) {
                    return '<a href="'+editUrl+'?CategoryName='+row.CategoryName+'&ParameterName='+row.ParameterName+'"><img src="../Images/pen.png" title="@Resources.Global.ParameterChange" class="gridRowInlineLink" /></a>';
                }
            }
            , {
                targets: 1
                , width: 150
                , data: function(row) {
                    return row.CategoryName;
                }
            }
            , {
                targets: 2
                , width: 150
                , data: function(row) {
                    return row.ParameterName;
                }
            }
            , {
                targets: 3
                , data: function(row) {
                    return row.ParameterValue;
                }
            }
        ]
    });


    </script>
