@using Netas.Nipps.BaseDao.Model.Response;
@using Netas.Nipps.AuthManager.Data.Model;

@{
    string urlUserEdit = Url.Action("UserEditConfirm");    
    string urlUserRemove = Url.Action("UserRemoveConfirm");
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Resources.Global.MenuUserManagement</h1>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("UserAddConfirm", "UserManagement", FormMethod.Get, new { @id="userForm" }))
{
    <input type="hidden" name="UserName" value="" id="UserName" />
    <input type="submit" value="@Resources.Global.UserAdd" />
}

<table id="userListTable" class="display compact">

    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>@Resources.Global.UserName</th>
            <th>@Resources.Global.Name</th>
            <th>@Resources.Global.LastName</th>
            <th>@Resources.Global.Email</th>
            <th>@Resources.Global.CreateDate</th>
            <th>@Resources.Global.UpdateDate</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>

<script type="text/javascript">

    console.log('OK');
    var tableData = new Array();
    var editUrl = '@Url.Action("UserEditConfirm")';
    var removeUrl = '@Url.Action("UserRemoveConfirm")';

    @if (ViewBag.Result == Result.OK)
    {
        foreach (User user in ViewBag.ResultList)
        {
    <text>
    tableData.push({
        "UserName": "@user.UserName"
        , "FirstName": "@user.FirstName"
        , "LastName": "@user.LastName"
        , "Email": "@user.Email"
        , "CreateDate": "@user.CreateDate"
        , "UpdateDate": "@user.UpdateDate"
    });
    </text>
        }
    }

    $("#userListTable").DataTable({
        data: tableData
        , order: [[2, 'asc']]
        , language: DataTableLanguage
        , columnDefs: [
            {
                targets:0
                , width: 24
                , orderable: false
                , data: function(row) {
                    return '<a href="@urlUserEdit?UserName='+row.UserName+'"><img src="../Images/pen.png" title="@Resources.Global.UserEdit" class="gridRowInlineLink" /></a>';
                }
            }
            , {
                targets:1
                , width: 24
                , orderable: false
                , data: function(row) {
                    return '<a href="@urlUserRemove?UserName='+row.UserName+'"><img src="../Images/deleteIcon.png" title="@Resources.Global.UserRemove" class="gridRowInlineLink" /></a>';
                }
            }
            , { targets: 2, data: function (row) { return row.UserName; } }
            , { targets: 3, data: function (row) { return row.FirstName; } }
            , { targets: 4, data: function (row) { return row.LastName; } }
            , { targets: 5, data: function (row) { return row.Email; } }
            , { targets: 6, data: function (row) { return row.CreateDate; } }
            , { targets: 7, data: function (row) { return row.UpdateDate; } }
        ]
    });

</script> 
