@using Netas.Nipps.AuthManager.Data.Model;
@using System.Web.Mvc;

@model User

@{
    var urlUserList = Url.Action("UserList");
    
}

    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.UserAddTitle</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("UserAdd", "UserManagement", FormMethod.Post, new { @id = "userForm" }))
    {

        @CommonComponentHelper.FormValidate("userForm")

        @Html.AntiForgeryToken()
        
        @CommonComponentHelper.ValidationErrorSummary(ViewData.ModelState)

        <fieldset>
            <ol>
                <li>
                    @CommonComponentHelper.UsernameBox(Model.UserName, ViewData.ModelState)
                </li>
                <li>
                    @CommonComponentHelper.EmailBox(Model.Email, ViewData.ModelState)
                </li>
                <li>
                    @CommonComponentHelper.FirstnameBox(Model.FirstName, ViewData.ModelState)
                </li>
                <li>
                    @CommonComponentHelper.LastnameBox(Model.LastName, ViewData.ModelState)
                </li>
                <li>
                    <input type="submit" value="@Resources.Global.Cancel" class="cancel" onclick="$('#userForm').Nipps_SubmitTo('@urlUserList', 'get');" />
                    <input type="submit" value="@Resources.Global.Save" />
                </li>
            </ol>

        </fieldset>
    }
