@using Org.Apps.SystemManager.Presentation.Models;
@using Org.Apps.SystemManager.Presentation.Base;

@model Apps


    @section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">
                    <h1>@Resources.Global.Deploy</h1>
                </hgroup>
            </div>
        </section>
    }

    @using (Html.BeginForm("AppsDeploy", "DeployManagement", FormMethod.Post, new { @id="deployForm", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @CommonComponentHelper.AppsHostSitePoolApplication(
            @Url.Action("", "BackupManagement"), 
            MaintenanceOperation.Deploy
            )

        <fieldset>
            <ol>
                <li>
                    <button name="Cancel" onclick="$('#deployForm').attr('action', '@Url.Action("AppsServiceList", "DeployManagement")'); $('#deployForm').submit(); ">@Resources.Global.Cancel</button>
                    <input type="submit" value="@Resources.Global.Deploy" />
                </li>
            </ol>
        </fieldset>
         
        
    }

